fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
requests>=2.26.0,<2.26.1
motor>=2.0.0,<3.0.0
pytest
pytest-mock
pytest-asyncio
httpx
nest-asyncio
IPython
pymongo
python-multipart
python-jose[cryptography]
passlib[bcrypt]
fastapi_socketio
electiersa
